@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.App {
  text-align: center;
  padding: 20px;
}

.logo {
  height: 15vmin;
  pointer-events: none;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #f98919;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
}

.report-btn{
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  background-color: white;
  border-radius: 60px;
  border: none;
  margin: 5px;
}

.report-btn a{
  color: #d40005;
  font-weight: 400;
}

.search-icon{
  border-radius: 60px;
  border: none;
  margin: 5px;
  width: 30px;
  display: flex;
  padding-top: 10px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-align: center;
}

.about-section {
  padding-bottom: 20px;
  text-align: left;
  font-size: 15px;
}

